<app-navbar></app-navbar>

<div class="container mx-auto mt-8">
  <!-- User Profile Section -->
  <div class="mb-8">
    <h2 class="text-2xl font-semibold mb-4">Profile</h2>
    <div class="p-6 border rounded-lg bg-white shadow-md">
      <ul class="mt-4">
        <li>Profile Status: Active</li>
      </ul>
    </div>
  </div>

  <ul class="mb-5 flex list-none flex-row flex-wrap border-b-0 pl-0" role="tablist" data-te-nav-ref>
    <li role="presentation" class="flex-auto text-center">
      <a href="#tabs-home01"
        class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
        data-te-toggle="pill" data-te-target="#tabs-home01" role="tab" aria-controls="tabs-home01" data-te-nav-active
        aria-selected="true">BOOK A TOUR</a>
    </li>
    <li role="presentation" class="flex-auto text-center">
      <a href="#tabs-profile01"
        class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
        data-te-toggle="pill" data-te-target="#tabs-profile01"  role="tab"
        aria-controls="tabs-profile01" aria-selected="false">MY BOOKINGS</a>
    </li>
    <li role="presentation" class="flex-auto text-center">
      <a href="#tabs-profile02"
        class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
        data-te-toggle="pill" data-te-target="#tabs-profile02" role="tab" aria-controls="tabs-profile02"
        aria-selected="false">MY REVIEWS</a>
    </li>
  </ul>

  <!--Tabs content-->
  <div class="mb-6 w-full">
    <!-- tab 1 -->
    <div class="hidden opacity-100 transition-opacity duration-100 ease-linear data-[te-tab-active]:block"
      id="tabs-home01" role="tabpanel" aria-labelledby="tabs-home01" data-te-tab-active>
      <section class="mb-20 text-gray-800">
        <div class="block rounded-lg shadow-lg bg-white">
          <div class="flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="inline-block min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                  <table class="min-w-full mb-0">
                    <thead class="border-b rounded-t-lg text-left">
                      <tr>
                        <th scope="col" class="rounded-tl-lg text-sm font-medium px-6 py-4">
                          TourName
                        </th>
                        <th scope="col" class="text-sm font-medium px-6 py-4">
                          Image
                        </th>
                        <th scope="col" class="text-sm font-medium px-6 py-4">
                          Destination
                        </th>
                        <th scope="col" class="text-sm font-medium px-6 py-4">
                          Description
                        </th>
                        <th scope="col" class="text-sm font-medium px-6 py-4">
                          Price
                        </th>
                        <!-- <th scope="col" class="rounded-tr-lg text-sm font-medium px-6 py-4">image</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let tour of tours" class="border-b bg-gray-100">
                        <th class="text-sm font-medium px-6 py-4 whitespace-nowrap text-left" scope="row">
                          {{ tour.title }}
                        </th>
                        <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-left text-gray-500">
                          <img [src]="tour.imageUrl" alt="" />
                        </td>
                        <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-left text-gray-500">
                          {{ tour.destination }}
                        </td>
                        <td class="text-sm font-normal px-6 py-4 whitespace-normal text-left text-gray-500">
                          {{ tour.description }}
                        </td>
                        <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-left text-gray-500">
                          {{ tour.price }}
                        </td>
                        <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-right">
                          <button (click)="bookTour(tour)" class="font-medium text-blue-600 hover:text-blue-700
                           focus:text-blue-700 active:text-blue-800 transition
                           duration-100 ease-in-out">
                            BOOK TOUR
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- tab 2 -->
    <div class="hidden opacity-100 transition-opacity duration-100 ease-linear data-[te-tab-active]:block"
      id="tabs-profile01" role="tabpanel" aria-labelledby="tabs-profile01">
      <div class="bg-white p-4 rounded shadow-md text-center">
        <h2 class="text-2xl font-semibold mb-4">MY BOOKINGS</h2>

        <!-- Check if there are booked tours -->
        <ng-container >
          <ul>
            <li class="mb-2" >
              <!-- Display booked tour details -->
              <h3 class="text-xl font-medium mb-2">tourtitle</h3>
              <p class="text-sm text-gray-500">Head Count</p>
              <p class="text-sm text-gray-500">Total Price: Ksh </p>

              <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-right">
                <button
                  class="font-medium text-red-600 hover:text-red-700 focus:text-red-700 active:text-red-800 transition duration-100 ease-in-out"
                  >
                  DELETE
                </button>
              </td>
            </li>
          </ul>
        </ng-container>

        <!-- If there are no bookings, display a message -->
        <ng-template #noBookings>
          <div class="text-gray-500">
            No bookings yet.
            <a routerLink="/new_booking" class="text-blue-500">Book Now</a>
          </div>
        </ng-template>
      </div>
    </div>
    <!-- tab 3 -->
    <div class="hidden opacity-0 transition-opacity duration-100 ease-linear data-[te-tab-active]:block"
      id="tabs-profile02" role="tabpanel" aria-labelledby="tabs-profile02">
      <div class="bg-white p-4 rounded shadow-md text-center">
        <h2 class="text-2xl font-semibold mb-4">Your Reviews</h2>
        <ul>
          <li class="mb-2"></li>
          <div class="text-gray-500">
            No bookings yet. Make your first reservation with us!
            <a routerLink="/new_booking" class="text-blue-500">Book Now</a>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
