<!-- <div class="modal-header">
  <h4 class="modal-title">Edit Tour</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form (ngSubmit)="submitEditForm()">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title" [(ngModel)]="tour.title" name="title" required>
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea class="form-control" id="description" [(ngModel)]="tour.description" name="description" required></textarea>
    </div>

    <div class="form-group">
      <label for="destination">Destination:</label>
      <input type="text" class="form-control" id="destination" [(ngModel)]="tour.destination" name="destination" required>
    </div>

    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" class="form-control" id="price" [(ngModel)]="tour.price" name="price" required>
    </div>

    <div class="form-group">
      <label for="imageUrl">Image URL:</label>
      <input type="text" class="form-control" id="imageUrl" [(ngModel)]="tour.imageUrl" name="imageUrl" required>
    </div>

    <div class="form-group">
      <label for="start_date">Start Date:</label>
      <input type="date" class="form-control" id="start_date" [(ngModel)]="tour.start_date" name="start_date" required>
    </div>

    <div class="form-group">
      <label for="end_date">End Date:</label>
      <input type="date" class="form-control" id="end_date" [(ngModel)]="tour.end_date" name="end_date" required>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cancel')">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="submitEditForm()">Save changes</button>
</div> -->
