<app-navbar></app-navbar>

<main class="p-2">
  <ul class="mb- flex list-none flex-row flex-wrap border-b-0 pl-0" role="tablist" data-te-nav-ref>
    <li role="presentation" class="flex-auto text-center">
      <p class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
        data-te-toggle="pill" data-te-target="#tabs-home01" data-te-nav-active role="tab" aria-controls="tabs-home01"
        aria-selected="true">
        Tours
      </p>
    </li>
    <li role="presentation" class="flex-auto text-center">
      <a class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
        data-te-toggle="pill" data-te-target="#tabs-profile01" role="tab" aria-controls="tabs-profile01"
        aria-selected="false">Add Tours</a>
    </li>
    <li role="presentation" class="flex-auto text-center">
      <p class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
        data-te-toggle="pill" data-te-target="#tabs-messages01" role="tab" aria-controls="tabs-messages01"
        aria-selected="false">
        Users
      </p>
    </li>
    <li role="presentation" class="flex-auto text-center">
      <p class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
        data-te-toggle="pill" data-te-target="#tabs-messages02" role="tab" aria-controls="tabs-messages02"
        aria-selected="false">
        Bookings
      </p>
    </li>
    <li role="presentation" class="flex-auto text-center">
      <p class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
        data-te-toggle="pill" data-te-target="#tabs-messages03" role="tab" aria-controls="tabs-messages03"
        aria-selected="false">
        Reviews
      </p>
    </li>
  </ul>

  <!--Tabs content-->
  <div class="mb-6 p-2">
    <!-- tab 1 -->
    <div class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
      id="tabs-home01" role="tabpanel" aria-labelledby="tabs-home-tab01" data-te-tab-active>
      <!-- Container for demo purpose -->
      <div class="container my-3 py-3 mx-auto px-4 md:px-6 lg:px-12">
        <!--Section: Design Block-->
        <section class="mb-20 text-gray-800">
          <div class="block rounded-lg shadow-lg bg-white">
            <div class="flex flex-col">
              <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full sm:px-6 lg:px-8">
                  <div class="overflow-hidden">
                    <table class="min-w-full mb-0">
                      <thead class="border-b rounded-t-lg text-left">
                        <tr>
                          <th scope="col" class="rounded-tl-lg text-sm font-medium px-6 py-4">
                            TourName
                          </th>
                          <th scope="col" class="text-sm font-medium px-6 py-4">
                            Image
                          </th>
                          <th scope="col" class="text-sm font-medium px-6 py-4">
                            Description
                          </th>
                          <th scope="col" class="text-sm font-medium px-6 py-4">
                            Price
                          </th>
                          <th scope="col" class="rounded-tr-lg text-sm font-medium px-6 py-4"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="border-b bg-gray-100">
                          <th class="text-sm font-medium px-6 py-4 whitespace-nowrap text-left" scope="row">
                            Maasai Mara Lounge
                          </th>
                          <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-left text-gray-500">
                            <div class="relative mb-3" data-te-input-wrapper-init>
                              <input type="url"
                                class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                                id="exampleFormControlInputURL" placeholder="Example label" />
                              <label for="exampleFormControlInputURL"
                                class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">URL
                                input
                              </label>
                            </div>
                          </td>
                          <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-left text-gray-500">
                            The best of the best Content
                          </td>
                          <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-left text-gray-500">
                            Ksh 400
                          </td>
                          <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-right">
                            <a href="#!"
                              class="font-medium text-blue-600 hover:text-blue-700 focus:text-blue-700 active:text-blue-800 transition duration-300 ease-in-out">Edit</a>
                          </td>
                        </tr>

                        <tr class="border-b bg-gray-100">
                          <th class="text-sm font-medium px-6 py-4 whitespace-nowrap text-left" scope="row">
                            Maasai Mara Lounge
                          </th>
                          <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-left text-gray-500">
                            <div class="relative mb-3" data-te-input-wrapper-init>
                              <input type="url"
                                class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                                id="exampleFormControlInputURL" placeholder="Example label" />
                              <label for="exampleFormControlInputURL"
                                class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">URL
                                input
                              </label>
                            </div>
                          </td>
                          <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-left text-gray-500">
                            The best of the best Content
                          </td>
                          <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-left text-gray-500">
                            Ksh 400
                          </td>
                          <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-right">
                            <a href="#!"
                              class="font-medium text-blue-600 hover:text-blue-700 focus:text-blue-700 active:text-blue-800 transition duration-300 ease-in-out">Edit</a>
                          </td>
                        </tr>
                        <tr class="border-b bg-gray-100">
                          <th class="text-sm font-medium px-6 py-4 whitespace-nowrap text-left" scope="row">
                            Maasai Mara Lounge
                          </th>
                          <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-left text-gray-500">
                            <div class="relative mb-3" data-te-input-wrapper-init>
                              <input type="url"
                                class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                                id="exampleFormControlInputURL" placeholder="Example label" />
                              <label for="exampleFormControlInputURL"
                                class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">URL
                                input
                              </label>
                            </div>
                          </td>
                          <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-left text-gray-500">
                            The best of the best Content
                          </td>
                          <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-left text-gray-500">
                            Ksh 400
                          </td>
                          <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-right">
                            <a href="#!"
                              class="font-medium text-blue-600 hover:text-blue-700 focus:text-blue-700 active:text-blue-800 transition duration-300 ease-in-out">Edit</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <!-- Tab 2 -->
    <div class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:flex justify-center"
      id="tabs-profile01" role="tabpanel" aria-labelledby="tabs-profile-tab01">
      <div
        class="block max-w-xl w-[50vw] mt-4 rounded-lg bg-white p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
        <form>
          <!--Tour Name input-->
          <div class="relative mb-6" data-te-input-wrapper-init>
            <input type="text"
              class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
              id="exampleInput8" placeholder="Tour Name" />
            <label for="exampleInput8"
              class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">Tour
              Name
            </label>
          </div>

          <!--Description textarea-->
          <div class="relative mb-6" data-te-input-wrapper-init>
            <textarea
              class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
              id="exampleFormControlTextarea13" rows="3" placeholder="Description"></textarea>
            <label for="exampleFormControlTextarea13"
              class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">Description
            </label>
          </div>

          <!--Image input-->
          <div class="relative mb-6" data-te-input-wrapper-init>
            <input type="url"
              class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
              id="exampleFormControlInputURL" placeholder="Example label" />
            <label for="exampleFormControlInputURL"
              class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">URL
              input
            </label>
          </div>
          <!-- price input -->
          <div class="relative mb-3" data-te-input-wrapper-init>
            <input type="number"
              class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
              id="exampleFormControlInputNumber" placeholder="Example label" />
            <label for="exampleFormControlInputNumber"
              class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">Price
            </label>
          </div>

          <!--Submit button-->
          <button type="submit"
            class="dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]] inline-block w-full rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
            data-te-ripple-init data-te-ripple-color="light">
            Send
          </button>
        </form>
      </div>
    </div>
    <!-- tab 3 -->
    <div class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
      id="tabs-messages01" role="tabpanel" aria-labelledby="tabs-profile-tab01">
      <div class="container my-12 py-12 mx-auto px-4 md:px-6 lg:px-12">
        <!--Section: Design Block-->
        <section class="mb-20 text-gray-800">
          <div class="block rounded-lg shadow-lg bg-white">
            <div class="flex flex-col">
              <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full sm:px-6 lg:px-8">
                  <div class="overflow-hidden">
                    <table class="min-w-full mb-0">
                      <thead class="border-b bg-gray-50 rounded-t-lg text-left">
                        <tr>
                          <th scope="col" class="rounded-tl-lg text-sm font-medium px-6 py-4">
                            NAME
                          </th>
                          <th scope="col" class="text-sm font-medium px-6 py-4">
                            TITLE
                          </th>
                          <th scope="col" class="text-sm font-medium px-6 py-4">
                            STATUS
                          </th>
                          <th scope="col" class="text-sm font-medium px-6 py-4">
                            ROLE
                          </th>
                          <th scope="col" class="rounded-tr-lg text-sm font-medium px-6 py-4"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="border-b">
                          <th scope="row" class="text-sm font-normal px-6 py-4 whitespace-nowrap text-left">
                            <div class="flex flex-row items-center">
                              <img class="rounded-full w-12" src="https://mdbootstrap.com/img/new/avatars/9.jpg"
                                alt="Avatar" />
                              <div class="ml-4">
                                <p class="mb-0.5 font-medium">Jane Cooper</p>
                                <p class="mb-0.5 text-gray-500">
                                  jane.cooper.example.com
                                </p>
                              </div>
                            </div>
                          </th>
                          <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-left">
                            <div class="flex flex-col">
                              <p class="mb-0.5">Regional Paradigm Technican</p>
                              <p class="mb-0.5 text-gray-500">Optimization</p>
                            </div>
                          </td>
                          <td class="align-middle text-sm font-normal px-6 py-4 whitespace-nowrap text-left">
                            <span
                              class="text-xs py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-medium bg-green-200 text-green-600 rounded-full">Active</span>
                          </td>
                          <td
                            class="align-middle text-gray-500 text-sm font-normal px-6 py-4 whitespace-nowrap text-left">
                            Admin
                          </td>
                          <td class="align-middle text-right text-sm font-normal px-6 py-4 whitespace-nowrap text-left">
                            <a href="#!"
                              class="font-medium text-blue-600 hover:text-blue-700 focus:text-blue-700 active:text-blue-800 transition duration-300 ease-in-out">Edit</a>
                          </td>
                        </tr>
                        <tr class="border-b">
                          <th scope="row" class="text-sm font-normal px-6 py-4 whitespace-nowrap text-left">
                            <div class="flex flex-row items-center">
                              <img class="rounded-full w-12" src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                                alt="Avatar" />
                              <div class="ml-4">
                                <p class="mb-0.5 font-medium">Cody Fisher</p>
                                <p class="mb-0.5 text-gray-500">
                                  cody.fisher.example.com
                                </p>
                              </div>
                            </div>
                          </th>
                          <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-left">
                            <div class="flex flex-col">
                              <p class="mb-0.5">Product Directives Officer</p>
                              <p class="mb-0.5 text-gray-500">Intranet</p>
                            </div>
                          </td>
                          <td class="align-middle text-sm font-normal px-6 py-4 whitespace-nowrap text-left">
                            <span
                              class="text-xs py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-medium bg-yellow-200 text-yellow-600 rounded-full">Pending</span>
                          </td>
                          <td
                            class="align-middle text-gray-500 text-sm font-normal px-6 py-4 whitespace-nowrap text-left">
                            Owner
                          </td>
                          <td class="align-middle text-right text-sm font-normal px-6 py-4 whitespace-nowrap text-left">
                            <a href="#!"
                              class="font-medium text-blue-600 hover:text-blue-700 focus:text-blue-700 active:text-blue-800 transition duration-300 ease-in-out">Edit</a>
                          </td>
                        </tr>
                        <tr class="border-b">
                          <th scope="row" class="text-sm font-normal px-6 py-4 whitespace-nowrap text-left">
                            <div class="flex flex-row items-center">
                              <img class="rounded-full w-12" src="https://mdbootstrap.com/img/new/avatars/11.jpg"
                                alt="Avatar" />
                              <div class="ml-4">
                                <p class="mb-0.5 font-medium">Esther Howard</p>
                                <p class="mb-0.5 text-gray-500">
                                  esther.howard.example.com
                                </p>
                              </div>
                            </div>
                          </th>
                          <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-left">
                            <div class="flex flex-col">
                              <p class="mb-0.5">Forward Response Developer</p>
                              <p class="mb-0.5 text-gray-500">Directives</p>
                            </div>
                          </td>
                          <td class="align-middle text-sm font-normal px-6 py-4 whitespace-nowrap text-left">
                            <span
                              class="text-xs py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-medium bg-red-200 text-red-600 rounded-full">Inactive</span>
                          </td>
                          <td
                            class="align-middle text-gray-500 text-sm font-normal px-6 py-4 whitespace-nowrap text-left">
                            Member
                          </td>
                          <td class="align-middle text-right text-sm font-normal px-6 py-4 whitespace-nowrap text-left">
                            <a href="#!"
                              class="font-medium text-blue-600 hover:text-blue-700 focus:text-blue-700 active:text-blue-800 transition duration-300 ease-in-out">Edit</a>
                          </td>
                        </tr>
                        <tr class="border-b">
                          <th scope="row" class="text-sm font-normal px-6 py-4 whitespace-nowrap text-left">
                            <div class="flex flex-row items-center">
                              <img class="rounded-full w-12" src="https://mdbootstrap.com/img/new/avatars/15.jpg"
                                alt="Avatar" />
                              <div class="ml-4">
                                <p class="mb-0.5 font-medium">Janny Wilson</p>
                                <p class="mb-0.5 text-gray-500">
                                  jenny.wilson.example.com
                                </p>
                              </div>
                            </div>
                          </th>
                          <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-left">
                            <div class="flex flex-col">
                              <p class="mb-0.5">Central Security Manager</p>
                              <p class="mb-0.5 text-gray-500">Program</p>
                            </div>
                          </td>
                          <td class="align-middletext-sm font-normal px-6 py-4 whitespace-nowrap text-left">
                            <span
                              class="text-xs py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-medium bg-blue-200 text-blue-600 rounded-full">Meeting</span>
                          </td>
                          <td
                            class="align-middle text-gray-500 text-sm font-normal px-6 py-4 whitespace-nowrap text-left">
                            Member
                          </td>
                          <td class="align-middle text-right text-sm font-normal px-6 py-4 whitespace-nowrap text-left">
                            <a href="#!"
                              class="font-medium text-blue-600 hover:text-blue-700 focus:text-blue-700 active:text-blue-800 transition duration-300 ease-in-out">Edit</a>
                          </td>
                        </tr>
                        <tr class="border-b">
                          <th scope="row" class="text-sm font-normal px-6 py-4 whitespace-nowrap text-left">
                            <div class="flex flex-row items-center">
                              <img class="rounded-full w-12"
                                src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" alt="Avatar" />
                              <div class="ml-4">
                                <p class="mb-0.5 font-medium">Kristin Watson</p>
                                <p class="mb-0.5 text-gray-500">
                                  kristin.watson.example.com
                                </p>
                              </div>
                            </div>
                          </th>
                          <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-left">
                            <div class="flex flex-col">
                              <p class="mb-0.5">Lead Implementation Liaison</p>
                              <p class="mb-0.5 text-gray-500">Mobility</p>
                            </div>
                          </td>
                          <td class="align-middle text-sm font-normal px-6 py-4 whitespace-nowrap text-left">
                            <span
                              class="text-xs py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-medium bg-green-200 text-green-600 rounded-full">Active</span>
                          </td>
                          <td
                            class="align-middle text-gray-500 text-sm font-normal px-6 py-4 whitespace-nowrap text-left">
                            Admin
                          </td>
                          <td class="align-middle text-right text-sm font-normal px-6 py-4 whitespace-nowrap text-left">
                            <a href="#!"
                              class="font-medium text-blue-600 hover:text-blue-700 focus:text-blue-700 active:text-blue-800 transition duration-300 ease-in-out">Edit</a>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row" class="text-sm font-normal px-6 py-4 whitespace-nowrap text-left">
                            <div class="flex flex-row items-center">
                              <img class="rounded-full w-12" src="https://mdbootstrap.com/img/new/avatars/2.jpg"
                                alt="Avatar" />
                              <div class="ml-4">
                                <p class="mb-0.5 font-medium">
                                  Danny Williamson
                                </p>
                                <p class="mb-0.5 text-gray-500">
                                  danny.williamson.example.com
                                </p>
                              </div>
                            </div>
                          </th>
                          <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-left">
                            <div class="flex flex-col">
                              <p class="mb-0.5">
                                Internal Applications Engineer
                              </p>
                              <p class="mb-0.5 text-gray-500">Security</p>
                            </div>
                          </td>
                          <td class="align-middle text-sm font-normal px-6 py-4 whitespace-nowrap text-left">
                            <span
                              class="text-xs py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-medium bg-yellow-200 text-yellow-600 rounded-full">Pending</span>
                          </td>
                          <td
                            class="align-middle text-gray-500 text-sm font-normal px-6 py-4 whitespace-nowrap text-left">
                            Member
                          </td>
                          <td class="align-middle text-right text-sm font-normal px-6 py-4 whitespace-nowrap text-left">
                            <a href="#!"
                              class="font-medium text-blue-600 hover:text-blue-700 focus:text-blue-700 active:text-blue-800 transition duration-300 ease-in-out">Edit</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--Section: Design Block-->
      </div>
    </div>
    <!-- tab 4 -->
    <div class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
      id="tabs-messages02" role="tabpanel" aria-labelledby="tabs-profile-tab01">
      <!-- Container for demo purpose -->
      <div class="container my-12 py-12 mx-auto px-4 md:px-6 lg:px-12">
        <!--Section: Design Block-->
        <section class="mb-20 text-gray-800">
          <div class="block rounded-lg shadow-lg bg-white">
            <div class="flex flex-col">
              <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full sm:px-6 lg:px-8">
                  <div class="overflow-hidden">
                    <table class="min-w-full mb-0">
                      <thead class="border-b rounded-t-lg text-left">
                        <tr>
                          <th scope="col" class="rounded-tl-lg text-sm font-medium px-6 py-4">
                            Tour Name
                          </th>
                          <th scope="col" class="text-sm font-medium px-6 py-4">
                            Head Count
                          </th>
                          <th scope="col" class="text-sm font-medium px-6 py-4">
                            Duration
                          </th>
                          <th scope="col" class="text-sm font-medium px-6 py-4">
                            Total Price
                          </th>

                          <th scope="col" class="rounded-tr-lg text-sm font-medium px-6 py-4"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="border-b bg-gray-100">
                          <th class="text-sm font-medium px-6 py-4 whitespace-nowrap text-left" scope="row">
                            Maasai Mara Lounge
                          </th>
                          <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-left text-gray-500">
                            5
                          </td>
                          <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-left text-gray-500">
                            5 days Starting 12/10/2023
                          </td>
                          <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-left text-gray-500">
                            Ksh 400
                          </td>
                          <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-right">
                            <a href="#!"
                              class="font-medium text-blue-600 hover:text-blue-700 focus:text-blue-700 active:text-blue-800 transition duration-300 ease-in-out">Edit</a>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--Section: Design Block-->
      </div>
      <!-- Container for demo purpose -->
    </div>
    <!-- tab 5 -->
    <div class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
      id="tabs-messages03" role="tabpanel" aria-labelledby="tabs-profile-tab01">
      <!-- Container for demo purpose -->
      <div class="container my-12 py-12 mx-auto px-4 md:px-6 lg:px-12">
        <!--Section: Design Block-->
        <section class="mb-20 text-gray-800">
          <div class="block rounded-lg shadow-lg bg-white">
            <div class="flex flex-col">
              <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full sm:px-6 lg:px-8">
                  <div class="overflow-hidden">
                    <table class="min-w-full mb-0">
                      <thead class="border-b rounded-t-lg text-left">
                        <tr>
                          <th scope="col" class="rounded-tl-lg text-sm font-medium px-6 py-4">
                            Tour Name
                          </th>
                          <th scope="col" class="text-sm font-medium px-6 py-4">
                            Head Count
                          </th>
                          <th scope="col" class="text-sm font-medium px-6 py-4">
                            Duration
                          </th>
                          <th scope="col" class="text-sm font-medium px-6 py-4">
                            Total Price
                          </th>

                          <th scope="col" class="rounded-tr-lg text-sm font-medium px-6 py-4"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="border-b bg-gray-100">
                          <th class="text-sm font-medium px-6 py-4 whitespace-nowrap text-left" scope="row">
                            Maasai Mara Lounge
                          </th>
                          <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-left text-gray-500">
                            5
                          </td>
                          <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-left text-gray-500">
                            5 days Starting 12/10/2023
                          </td>
                          <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-left text-gray-500">
                            Ksh 400
                          </td>
                          <td class="text-sm font-normal px-6 py-4 whitespace-nowrap text-right">
                            <a href="#!"
                              class="font-medium text-blue-600 hover:text-blue-700 focus:text-blue-700 active:text-blue-800 transition duration-300 ease-in-out">Edit</a>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--Section: Design Block-->
      </div>
      <!-- Container for demo purpose -->
    </div>
  </div>
</main>
